:root {
  --mainColor: #f45d96;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body {
  height: 10000px;
}
.text-mainColor {
  color: var(--mainColor);
}
nav .end-options .totalPrice {
  font-size: 14px;
  font-weight: 700;
}
nav .end-options .counterFont {
  font-size: 14px;
}
nav .search i {
  cursor: pointer;
}
.content{
  padding-top: 15%;
  width: 350px;;
 
}

.content span {
  font-size: 16px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
 
}

.content h2 {
  color: #111111;
  font-size: 45px;
  line-height: 60px;
  font-family: "Libre Baskerville", serif;
  padding-top: 15px;
  padding-bottom: 25px;
}

.primary-btn {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #f45d96;
  padding: 14px 30px 12px;
  border-radius: 50px;
}

.content a{
  
  text-decoration: none;
}
.carousel-indicators button{
  width: 10px;
  height: 10px;
  
  background-color:var(--mainColor);
}
.carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: sticky;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
 color:var(--mainColor);
 background-color: #ffffff;
}
